body {
    font-family: $paragraph-font;
    background-color: $white-color;
    color: $black-color;
  }
  
  h1, h2, h3 {
    font-family: $title-font;
    color: $black-color;
    padding-bottom: 20px;
  }

  
  