.footer {
    background-color: $primary-color;
    color: $white-color;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    .footer-content {
      @include flex-center;
      flex-direction: column;
  
      .footer-section {
        margin: 10px 0;
      }
  
      a {
        color: $white-color;
        text-decoration: none;
        margin-right: 15px;
        padding-bottom: 15px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  