.product-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  
    @media(min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    li {
      list-style: none;
      border: 1px solid $secondary-color;
      padding: 10px;
      text-align: center;
  
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
  
      a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
  
      button {
        background-color: $primary-color;
        color: $white-color;
        border: none;
        padding: 10px;
        cursor: pointer;
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
  