.product-list {
  background-color: $secondary-color;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    

    h2{
      padding-bottom: 25px!important;
      text-align: center;
    }

    ul{
      display:flex; 
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      list-style: none;
      padding: 10px;
      
  
      img {
        width: 309px!important;
        height: 310px!important;
        object-fit: cover;
      }
  
      a {
        color: $primary-color;
        text-decoration: none;
        display: block;
        padding-top: 15px;
        &:hover {
          text-decoration: underline;
        }
      }
  
      button {
        background-color: $primary-color;
        color: $white-color;
        border: none;
        padding: 10px;
        cursor: pointer;
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
      @media(min-width: 500px) {
        li{
          width: 100%;
      }
    }
      @media(min-width: 768px) {
      }
      @media(min-width: 1024px) {
        li{
          width: 40%;
        }
      }
    }
  }
  